.header {
    padding: 3rem 0 1rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: rgb(83, 83, 201);
}

.title {
    color: rgb(7, 7, 7);
    font-size: 3rem;
    margin-left: 0rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav-item {
    color: #363130;
    font-size: .9rem;
    margin-right: 2rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #2c2827;
}